@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer utilities {
  #app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .scrollbar {
    height: 90%;
    overflow-y: auto;
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: #949494;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: rgb(47, 47, 47);
    border-radius: 100vh;
    border: 2px solid black;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #0458b7;
  }

  .home-line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
  }

  .home-title-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}